@use 'base/variables' as v;
@use 'base/mixins' as m;

.servicios{
    margin-top: 4rem;
    @include m.contenedor-xl;
    padding: 2rem;
    

    @include m.tablet {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        gap: 4rem;
    }
    @include m.desktop {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
        gap:4rem;
    }
}
.servicio{
    background-color: v.$blanco;
    margin: 2rem 0;
    transition: transform 0.3s ease-in-out;
    &__resumen{
        padding: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        h3{
            font-family: v.$fuente_secundaria;
        }
    }

}
.servicio:hover{
    transform: scale(1.05);
}
.contenedor-boton{
    @include m.contenedor-xl;
    display: flex;
    justify-content: center;

}
.servicios__button{
    margin: 0 2rem 4rem 2rem;
    @include m.boton(v.$negro, v.$blanco);
    transition: background-color 3s ease, color, 3s ease;
    width: 100%;
    @include m.tablet {
        width: fit-content;
    }
    &:hover{
        @include m.boton(v.$blanco, v.$negro);
    }
}
