@use 'base/variables' as v;
@use 'base/mixins' as m;

.header{
    width: 100%;
    padding: 2rem 0;
    background: rgb(2,0,36);
    background: linear-gradient(265deg, rgba(2,0,36,1) 0%, 
                rgba(245,208,202,1) 0%, 
                rgba(239,175,176,0.8464635854341737) 100%);
    position: relative;

    &__cerrar-sesion{
        position:absolute;
        right: 0;
        display: block;
    }

    &__contenedor{
        // position: relative;
        position:relative;
        z-index: 2;
        @include m.contenedor;
        justify-content: center;
        @include m.tablet {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        @include m.desktop {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5rem;
        }
        &__cerrar-sesion{
            display: flex;
            position: absolute;
            justify-content: space-between;
            align-items: center;
            border: none;
            right: 0;
            padding: 0.5rem;
            &:hover, &:focus{
                cursor:pointer;
                border: 1px solid v.$negro;
            }
            img {
                display: inline-block;
                width: 20px;
                height: 20px;
                margin: 0;
            }
            &__icono{
                all: unset;
                color: v.$negro;
                font-size: 1.4rem;
                height: 4rem;
                width: 100%;
                margin: auto .5rem;

            }

            &:hover{
                cursor: pointer;
                background-color: v.$claro;
            }   
            @include m.tablet {
                display: none;
            }
        }
    }            

    &__logo{
        width: 15rem;
        
        margin: 0 auto;
        display: none;
        @include m.tablet {
            margin: 0;
            display: flex;
        }
        img{
            max-width: 15rem;
            border-radius: 50%;
            margin: 0 auto;
        }
    }

    &__navegacion{
        padding: 5rem 0;
        display: none;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        margin: 0 auto 0 0;
        @include m.tablet {
            flex-direction: row;
            display: flex;
            padding: 2rem 0;
            margin: 0 auto;
        }
    }
    &__enlace{
        text-align: center;
        font-size: 1.6rem;
        font-weight: v.$delgada;
        color: v.$gris;
        &:hover{
            color: v.$oscuro;
        }
    }
    &__iconos{
        padding: 5rem 0;
        display: flex;
        justify-content: center;
        gap: 4rem;
        align-items: center;
        @include m.tablet {
            padding: 2rem 0;
        }
    }
    &__boton{
        @include m.boton(v.$negro, v.$blanco);
        transition: background-color 0.5s ease;
        &:hover{
            @include m.boton(v.$blanco, v.$negro);
        }

        &--transparente{
            @include m.boton(v.$negro, v.$negro);
            background-color: transparent;
            align-items: center;
            gap: 1rem;
            color: v.$gris;
            font-weight: v.$delgada;
            font-size: 1.6rem;
            padding: 1.5rem .5rem;
            justify-content: center;
            align-items: center;
            &:hover{
                background-color: transparent;
                color:v.$oscuro;
            }
            @include m.tablet{
                display:flex;
            }

            img{
                width: 3rem;
                margin: 0 auto;
            }
        }
    }
    &__icono{
        width: 3rem;
        img{
            display: inline-block;
            width: 3rem;
        }
    }
    &__heading{
        font-family: v.$fuente_secundaria;
        font-size: 5rem;
        margin: 0 5rem;
        text-align: center;
        @include m.tablet {
            font-size: 6rem;
        }
    }
    &__imagen{
        position: absolute;
        z-index: 1;
        bottom: 0;
        right: 0;
        left: 0;
        margin-top: 5rem;
    }
}
.header.principal{
    min-height: 55rem;
    @include m.tablet {
        min-height: 90rem   
    }
    @include m.desktop-xxl{
        min-height: 100rem;
    }
}

// .hamburger{
//     cursor: pointer;
//     @include m.tablet{
//         display: none;
//     }
//     img{
//         width: 3rem;
//     }
// }